@import "tailwindcss";
@plugin "daisyui";

/* Light Theme */
@plugin "daisyui/theme" {
  name: "light";
  default: false;
  --color-primary:  #67AB4F;
  --color-secondary: #1C911D;
  --color-base-100: #FAFAF7;    
  --color-base-200: #F5F5F0;  
  --color-base-300: #0A0100;    
  --color-accent: #706f6f;    
}

/* Dark Theme */
@plugin "daisyui/theme" {
  name: "dark";
  default: true;
  --color-primary:  #67AB4F;
  --color-secondary: #1C911D;
  --color-base-100: #1A1A1A;    
  --color-base-200: #2A2A2A;   
  --color-base-300: #FFFFFF;    
  --color-accent: #B0ABAB;     
}

/* Active link styling */
a.active {
  @apply font-semibold text-[#67AB4F] underline;
}

@keyframes floatSlow {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.animate-floatSlow {
  animation: floatSlow 3s ease-in-out infinite;
}

