@import "tailwindcss";
@plugin "daisyui";

/* Light Theme */
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary:  #67AB4F;
  --color-secondary: #1C911D;
  --color-base-100: #FAFAF7;    
  --color-base-200: #F5F5F0;  
  --color-base-300: #E5E5E0;    
  --color-accent: #706f6f;    
}

/* Dark Theme */
@plugin "daisyui/theme" {
  name: "dark";
  default: false;
  --color-primary:  #67AB4F;
  --color-secondary: #1C911D;
  --color-base-100: #1A1A1A;    
  --color-base-200: #2A2A2A;   
  --color-base-300: #3A3A3A;    
  --color-accent: #D0D0D0;     
}

/* Active link styling */
a.active {
  @apply font-semibold text-[#67AB4F] underline;
}
